@import "~leaflet/dist/leaflet.css";
@import '~react-leaflet-markercluster/dist/styles.min.css';
@import '~bootstrap/dist/css/bootstrap.css';
@import '~react-mosaic-component/react-mosaic-component.css';
@import '~reset-css';
@import '~font-awesome/css/font-awesome.min.css';

:root {
  font-family: 'Roboto', sans-serif;
}

.mosaic-window-body {
  display: flex;
}

.mosaic-window-toolbar {
  background-color: #eee !important;
  padding: 3px;
  font-size: 14px;
}

.flex-1 {
  flex: 1;
}
